<a href="https://colab.research.google.com/github/rcctn/EBAC-LMS/blob/main/Exerc%C3%ADcio_M%C3%B3dulo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pratique

# 1º Exercício: Olá, mundo

## Parte 1

### Adicione uma célula de código. Nela, escreva o texto "Olá mundo!", utilize a função print.

In [ ]:
print('Olá mundo!')

Olá mundo!

## Parte 2

### Adicione uma imagem.

![image.png]()

![image.png]()

# 2º Exercício: Números

**Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:**

## A) VALOR TOTAL DE VENDAS - 19/01

In [ ]:
vtotal = 320.52 / 3

print (type(vtotal))
print ('A =',  vtotal)

print (' ')

vtotal = int(vtotal)
print (type(vtotal))
print ('A =', vtotal)

<class 'float'>
A = 106.83999999999999

<class 'int'>
A = 106

## B) QTD TOTAL DE VENDAS - 20/01

In [ ]:
qtdtotal = 834.47 / 119.21

print (type(qtdtotal))
print ('B =',qtdtotal)

print (' ')

qtdtotal = int(qtdtotal)
print (type(qtdtotal))
print ('B =',qtdtotal)

<class 'float'>
B = 7.000000000000001

<class 'int'>
B = 7

## C) TICKET MEDIO - 23/01

In [ ]:
ticket_m = 15378.12 / 5

print (type(ticket_m))
print ('C =',ticket_m)

print (' ')

ticket_m = int(ticket_m)
print (type(ticket_m))
print ('C =',ticket_m)

<class 'float'>
C = 3075.6240000000003

<class 'int'>
C = 3075

# 3º Exercício: String

##Parte 1

Aplique três métodos distintos na string abaixo.

### Replace

In [ ]:
cancao = 'roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao)
print(cancao.replace('roda', 'troca'))

roda mundo, roda gigante, roda moinho, roda pião.
troca mundo, troca gigante, troca moinho, troca pião.

### Find

In [ ]:
cancao = 'roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao)
print(cancao.find('pião'))

roda mundo, roda gigante, roda moinho, roda pião.
44

### Upper

In [ ]:
cancao = 'roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao)
print(str.upper(cancao))
print(str.upper('gigante'))

roda mundo, roda gigante, roda moinho, roda pião.
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
GIGANTE

##Parte 2

Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variável ano . Imprima os valores na tela.
   
noticia = 'Selic vai a 2,75% e supera expectativas; ' + \ 'é a primeira alta em 6 anos.'

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; ' +  'é a primeira alta em 6 anos.'
print(noticia)


selic1 = '2.75%'
selic2 = '2.75'
ano = 6

print(selic1)
print(selic2,'%')

print(ano)

Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.
2.75%
2.75 %
6

# 4º Exercício: Booleanos

## Utilize a tabela da verdade para responder: qual o valor da variável x?

a = False

b = True

x = not a & b

In [2]:
a = False

b = True

x = not a & b
print(x)

True